html{
    background-color: grey;
}

#gamepanel{
    width: 900px;
    height: 600px;
    left: 100px;
    border: 1px solid black;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#mainheader{
    font-size: large;
    font-weight: bold;
    justify-self: end;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#status-panel{
    font-weight: lighter;
    background-color: white;
    border: 1px black solid;
    padding: 5px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#clock-div{
    margin-left: 20%;
    background-image: url("assets/img/clock/clock_7.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

/*
    Overlay-Klasse für Haken und Kreuze
*/
#overlay-mark{
    width: 50px;
    margin-top: 50%;
    margin: auto;
}

/*
    Intro-Screen
*/

.animation{
    animation: fadeIn linear 3s;   /* Animation haut leider noch nicht ganz hin*/
    -webkit-animation: fadeIn linear 3s;
    -moz-animation: fadeIn linear 3s;
    -o-animation: fadeIn linear 3s;
    -ms-animation: fadeIn linear 3s;
}

#intro-panel{
    text-align: center;
    margin-top: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: large;
    top: 50%;
}

  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

/*
    Main-Screen (Karte)
*/

#main-map{
    border: 1.5px black dotted;
    display: grid;
    height: 100%;
    gap: 3px;
    grid-column-start: 1;
    grid-column-end: 36;
    grid-row-start: 1;
    grid-row-end: 24;
    background-image: url("assets/img/leere_map.jpg");
    background-size: cover;
}

#main-map-solve-button{
    border: 1.5px black double;
    margin: 10px;
    padding: 10px;
    background-color: white;
    color: red;
}

#main-map-show-candidates-button{
    border: 1.5px black double;
    margin: 10px;
    padding: 10px;
    background-color: white;
    color: red;
}

#candidates-overlay{
    grid-column-start: 7;
    grid-column-end: 30;
    grid-row-start: 5;
    grid-row-end: 20;
    border: 8px black double;
    border-radius: 8px;
    background-color: white;
    overflow: visible;
    display: grid;
    gap: 5px;
    padding: 10px;
}

#solve-overlay{
    grid-column-start: 7;
    grid-column-end: 30;
    grid-row-start: 5;
    grid-row-end: 20;
    border: 8px black double;
    border-radius: 8px;
    background-color: white;
    overflow: visible;
    display: grid;
    gap: 5px;
    padding: 10px;
}

/*
    Hardgecodete Platzierung der Elemente auf der Karte
*/

#main-map-house1{
    grid-row-start: 14;
    grid-row-end: 17;
    grid-column-start: 5;
    grid-column-end: 8;
    background-image: url("assets/img/home1.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#main-map-house2{
    grid-row-start: 21;
    grid-row-end: 23;
    grid-column-start: 7;
    grid-column-end: 11;
    background-image: url("assets/img/home2.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#main-map-house3{
    grid-row-start: 13;
    grid-row-end: 15;
    grid-column-start: 18;
    grid-column-end: 22;
    background-image: url("assets/img/home3.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#main-map-house4{
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 7;
    background-image: url("assets/img/home4.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#main-map-house5{
    grid-row-start: 12;
    grid-row-end: 14;
    grid-column-start: 25;
    grid-column-end: 29;
    background-image: url("assets/img/home5.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#main-map-house6{
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 5;
    grid-column-end: 9;
    background-image: url("assets/img/home6.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#main-map-house7{
    grid-row-start: 20;
    grid-row-end: 22;
    grid-column-start: 31;
    grid-column-end: 35;
    background-image: url("assets/img/home7.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#main-map-house8{
    grid-row-start: 15;
    grid-row-end: 17;
    grid-column-start: 11;
    grid-column-end: 15;
    background-image: url("assets/img/home8.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#main-map-house9{
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 17;
    grid-column-end: 21;
    background-image: url("assets/img/home9.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#main-map-house10{
    grid-row-start: 9;
    grid-row-end: 11;
    grid-column-start: 12;
    grid-column-end: 16;
    background-image: url("assets/img/home10.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#main-map-house11{
    grid-row-start: 16;
    grid-row-end: 18;
    grid-column-start: 15;
    grid-column-end: 19;
    background-image: url("assets/img/home11.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#main-map-house12{
    grid-row-start: 22;
    grid-row-end: 24;
    grid-column-start: 21;
    grid-column-end: 25;
    background-image: url("assets/img/home12.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#main-map-cabanon{
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 25;
    grid-column-end: 29;
    background-image: url("assets/img/cabanon1.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#main-map-forest{
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 29;
    grid-column-end: 33;
    background-image: url("assets/img/tree2.png");
    background-size: contain;
    background-repeat: no-repeat;
}

    /*
        Hardgecodete Placeholder für die Karte
    */

#main-map-horizontal-placeholder{
    grid-column-start: 35;
    grid-column-end: 36;
}

#main-map-vertical-placeholder{
    grid-row-start: 23;
    grid-row-end: 24;
}

/*
    Location-Screen
*/
#location-div{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 36;
    grid-row-start: 1;
    grid-row-end: 24;
}

#person-div{
    background-repeat: no-repeat; 
    background-size: contain;
}

#speechbubble-div{
    padding: 12px;
    text-align: center;
    border-radius: 4px;
    max-width: 170px;
    background-color: white;
    border: 4px black double;
}

/*
    CSS-Elemente für Verdächtigen- und Falllösungs-Panel
*/

#candidate-1{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    background-image: url('assets/img/candidates/person_1.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#candidate-2{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    background-image: url('assets/img/candidates/person_2.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#candidate-3{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
    background-image: url('assets/img/candidates/person_3.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#candidate-4{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 4;
    grid-column-end: 4;
    background-image: url('assets/img/candidates/person_4.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#candidate-5{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 5;
    grid-column-end: 5;
    background-image: url('assets/img/candidates/person_5.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#candidate-6{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 6;
    grid-column-end: 6;
    background-image: url('assets/img/candidates/person_6.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#candidate-7{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    background-image: url('assets/img/candidates/person_7.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#candidate-8{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    background-image: url('assets/img/candidates/person_8.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#candidate-9{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
    background-image: url('assets/img/candidates/person_9.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#candidate-10{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 4;
    background-image: url('assets/img/candidates/person_10.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#candidate-11{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 5;
    grid-column-end: 5;
    background-image: url('assets/img/candidates/person_11.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#candidate-12{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 6;
    grid-column-end: 6;
    background-image: url('assets/img/candidates/person_12.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#candidate-13{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    background-image: url('assets/img/candidates/person_13.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#candidate-14{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    background-image: url('assets/img/candidates/person_14.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#candidate-15{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;
    background-image: url('assets/img/candidates/person_15.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#candidate-16{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 4;
    background-image: url('assets/img/candidates/person_16.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#candidate-17{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 5;
    background-image: url('assets/img/candidates/person_17.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#candidate-18{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 6;
    grid-column-end: 6;
    background-image: url('assets/img/candidates/person_18.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#candidate-19{
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
    background-image: url('assets/img/candidates/person_19.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#candidate-20{
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 2;
    background-image: url('assets/img/candidates/person_20.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#candidate-21{
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 3;
    background-image: url('assets/img/candidates/person_21.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#candidate-22{
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 4;
    background-image: url('assets/img/candidates/person_22.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#candidate-23{
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 5;
    background-image: url('assets/img/candidates/person_23.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#candidate-24{
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 6;
    grid-column-end: 6;
    background-image: url('assets/img/candidates/person_24.png');
    background-repeat: no-repeat;
    background-size: contain;
}

#overlay-back-button-candidates{
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;
}

#overlay-back-button-murderer{
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;
}

#murderer-1{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    background-image: url('assets/img/candidates/person_1.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#murderer-2{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    background-image: url('assets/img/candidates/person_2.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#murderer-3{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
    background-image: url('assets/img/candidates/person_3.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#murderer-4{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 4;
    grid-column-end: 4;
    background-image: url('assets/img/candidates/person_4.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#murderer-5{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 5;
    grid-column-end: 5;
    background-image: url('assets/img/candidates/person_5.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#murderer-6{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 6;
    grid-column-end: 6;
    background-image: url('assets/img/candidates/person_6.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#murderer-7{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    background-image: url('assets/img/candidates/person_7.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#murderer-8{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    background-image: url('assets/img/candidates/person_8.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#murderer-9{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
    background-image: url('assets/img/candidates/person_9.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#murderer-10{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 4;
    background-image: url('assets/img/candidates/person_10.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#murderer-11{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 5;
    grid-column-end: 5;
    background-image: url('assets/img/candidates/person_11.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#murderer-12{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 6;
    grid-column-end: 6;
    background-image: url('assets/img/candidates/person_12.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#murderer-13{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    background-image: url('assets/img/candidates/person_13.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#murderer-14{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    background-image: url('assets/img/candidates/person_14.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#murderer-15{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;
    background-image: url('assets/img/candidates/person_15.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#murderer-16{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 4;
    background-image: url('assets/img/candidates/person_16.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#murderer-17{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 5;
    background-image: url('assets/img/candidates/person_17.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#murderer-18{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 6;
    grid-column-end: 6;
    background-image: url('assets/img/candidates/person_18.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#murderer-19{
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
    background-image: url('assets/img/candidates/person_19.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#murderer-20{
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 2;
    background-image: url('assets/img/candidates/person_20.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#murderer-21{
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 3;
    background-image: url('assets/img/candidates/person_21.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#murderer-22{
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 4;
    background-image: url('assets/img/candidates/person_22.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#murderer-23{
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 5;
    background-image: url('assets/img/candidates/person_23.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#murderer-24{
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 6;
    grid-column-end: 6;
    background-image: url('assets/img/candidates/person_24.png');
    background-repeat: no-repeat;
    background-size: contain;
}

#winning-panel{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#fail-panel{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#easteregg{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}